{{template "/head.tpl" .}}
{{template "/top1.tpl" .}}
<!--nodes info-->
<div class="bs-docs-example" style="padding-top: 15px;">

<!--   <div><span class="lh30px fw h4">Kube Cluster  Nodes</span></div> -->
    <table class="table table-hover ">
        <thead>
            <tr>
                <th class="text-center">NodeName</th>
                <th class="text-center">IP</th>
                <th class="text-center">Status</th>
                <th class="text-center">Port</th>
                <th class="text-center">Ages</th>
               <!-- <th class="text-center">Messages</th> -->
                 <th class="text-center">Action</th>
                
            </tr>
        </thead>
        <tbody>
        {{range .LISTNode.Items}}
        <tr class="text-center lh30px">
                    <td class="text-v-center  ">
                      {{.Metadata.Name}}
                     
                    </td>
                    
                    <td class="text-v-center  tleft ">
                    {{range .Status.Addresses}}
                    <div> {{.Type}} :{{.Address}}</div>
                    {{end}}
                    </td>  
                  
                    
                    <td class="text-v-center  tleft ">
                      {{range .Status.Conditions}}
                       <div>{{.Type}}: {{.Status}}</div>
                      {{end}}
                    </td> 

                    <td class="text-v-center   ">
                      {{.Status.DaemonEndpoints.KubeletEndpoint.Port}}
                    </td> 
                    <td class="text-v-center   .fb">
                      {{.Ages}}
                    </td> 

                    <td class="text-v-center"  >
                     <div class="btn-group">
  <button type="button" class="btn btn-default" id=""  onclick= "return send({{.Metadata.Name}})">Detail</button>
  <button type="button" class="btn btn-default dropdown-toggle" 
      data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">切换下拉菜单</span>
  </button>
  <ul class="dropdown-menu" role="menu">

  <li class="divider"></li>
    <li style="padding-top: 5px;padding-bottom: 5px;"><a href="#" style=" text-align: center; line-height: 20px;">Online</a></li>
  
    <li class="divider" style="padding: 0px;"></li>
    <li><a href="#" style="margin:0px; text-align: center;">Offline</a></li>
   
  </ul>
</div>
                    </td> 
                </tr>
      {{end}}      
                
                 </tbody>
                
    </table>
</div>

         <!--弹出模 over-->
{{template "/poplayer.tpl" .}}


{{template "/foot.tpl" .}}  



 
 <script>
 function send(m){  
    // $("#"+m).click(function(){  
        var frameSrc = "/kubecluster/specNode?nodename="+m; 
       // alert(frameSrc) 
        $("#NoPermissioniframe").attr("src", frameSrc);  
        $('#NoPermissionModal').modal({ show: true, backdrop: 'static' });  
    // });  
}  
</script>
<!--弹出模 over-->
