{{template "/headCssJs.tpl" .}}


<div class="bs-docs-example" style="padding-top: 15px;">
    <table class="table table-hover  showdisplay " id="shoedetail">
        <thead>
            <tr>
                <th class="text-center">Items</th>
                <th class="text-center">Messages</th>

            </tr>
        </thead>

        {{with .PoolInfo}}
        <tbody>
            <form action="/VirtualOperation/Createvm" method="Createvm">

                <tr class="text-center lh30px">
                    <td class="text-v-center fb ">IP</td>
                    <td class="text-v-center tleft ">{{.Ipaddr}}
                        <input name="id" type="hidden" value="{{.Id}}">
                        <input name="vmip" id="ipaddr" type="hidden" value="{{.Ipaddr}}">

                    </td>
                </tr>
                <tr class="text-center lh30px">
                    <td class="text-v-center fb ">Hosts</td>
                    <td class="text-v-center tleft ">
                        <div class="form-group">
                            <select class="form-control" style="width:150px;" name="Host">

         <option value="{{.HostsIp}}">{{.HostsIp }}</option>
        {{range $.HostLIst}}
      <option value="{{.Ipaddr}}">{{.Ipaddr}}</option>
       {{end}}
      </select>
                        </div>
                    </td>
                </tr>

                <tr class="text-center lh30px">
                    <td class="text-v-center fb ">Useing</td>
                    <td class="text-v-center tleft ">{{.Useing}}</td>
                </tr>
                <tr class="text-center lh30px">
                    <td class="text-v-center fb ">VmName</td>
                    <td class="text-v-center tleft ">{{.VmName}}
                        <input name="vmname" id="vmname" type="hidden" value="{{.VmName}}">
                    </td>
                </tr>
                <tr class="text-center lh30px">
                    <td class="text-v-center fb ">VmState</td>
                    <td class="text-v-center tleft ">{{if eq .VmState ""}}-{{end}}

                    </td>
                </tr>

                <tr class="text-center lh30px">
                    <td class="text-v-center fb ">VmDesc</td>
                    <td class="text-v-center tleft ">
                        <div class="form-group">
                            <textarea class="form-control" disabled="true" name="VmDesc" rows="1" style="width:600px; " placeholder="vm description">{{.VmDesc}}</textarea>
                        </div>
                    </td>
                </tr>
                <tr class="text-center lh30px">
                    <td class="text-v-center fb ">GateWay</td>
                    <td class="text-v-center tleft ">
                        <div class="form-group">
                            <input type="text" id="gateway" name="GateWay" class="form-control fw" placeholder="vm GateWay" value="" />
                        </div>
                    </td>
                </tr>
                <tr class="text-center lh30px">
                    <td class="text-v-center fb ">NetMask</td>
                    <td class="text-v-center tleft ">
                        <div class="form-group">
                            <input type="text" id="vmnetmask" name="NetMask" class="form-control fw" placeholder="vm NetMask" value="255.255.255.0">
                        </div>
                    </td>
                </tr>
                <tr class="text-center lh30px">
                    <td class="text-v-center fb ">DNS</td>
                    <td class="text-v-center tleft ">
                        <div class="form-group">
                            <input type="text" id="vmdns" name="DNS" class="form-control fw" placeholder="vm DNS" value="202.96.134.133">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-default">Confirm </button>

                    </td>
                </tr>
            </form>

        </tbody>






    </table>

    {{end}}
</div>
<script language="javascript">
window.onload=autogateway();
function autogateway(){
    var ip1= document.getElementById("ipaddr").value    ;
   var  arr= ip1.split(".");
   var newga=arr[0]+"."+arr[1]+"."+arr[2]+".1"

    document.getElementById("gateway").value=newga;
}

// function gotonextpage(proxy,vmname,vmip,gateway,vmnetmask,vmdns){
//     var type=document.getElementById("type").value;
//     var hostip=document.getElementById("hostip").value;
//     var vmname=document.getElementById("vmname").value;
//     var ipaddr=document.getElementById("ipaddr").value;
//     var gateway=document.getElementById("gateway").value;
//     var vmnetmask=document.getElementById("vmnetmask").value;
//     var vmdns=document.getElementById("vmdns").value;
// window.location.href="http://"+proxy+"/?type="+type+"&hostip="+hostip+"&vmname="+vmname+"&ipaddr="+ipaddr+"&gateway="+gateway+"&vmnetmask="+vmnetmask+"&vmdns="+vmdns;

// }


</script>