 {{template "/head.tpl" .}}

{{template "/virtualization/tab.tpl" .}}
 


 <!-- start -->

 <div class="bs-docs-example"   {{if .IsIpPool}} style=" padding-top: 15px; display:block;" {{else }}style="display:none;" {{end}}>
 <form class="form-inline" role="form" method="POST">
   <div class="form-group" id="d1">
      <label  for="name">Pool</label>
      <input type="text" class="form-control fw"  style="width:140px;" id="reg_ip" 
         placeholder="IP or IP segment" name="ip_ips" onblur="f_check_IP()">
   </div>
   <div class="form-group" id="d2">
       <label class="" for="name">--</label>
      <input type="text" class="form-control fw" id="reg_ip2" 
         placeholder=""  style="width:60px;" name="ip_suffix" onblur="f_c2()">
   </div>
   
   <button type="submit" class="btn btn-default" style="margin-left:30px;" onsubmit="javscript:this.enable='disable'">Submit</button>
</form>
<!--{{range .MSG}}
<div>.</div>
{{end}}
     </div>
 <!-- end -->



    {{template "/foot.tpl" .}}
<script language="javascript">  
function f_check_IP()      
{  var ip = document.getElementById('reg_ip').value;  
   var re=/^(\d+)\.(\d+)\.(\d+)\.(\d+)$/;//正则表达式   
   if (ip== ""){
       alert("no")
       return false;
   }  
   if(re.test(ip))     
   {     
       if( RegExp.$1<256 && RegExp.$2<256 && RegExp.$3<256 && RegExp.$4<256) 
       document.getElementById("d1").className='form-group has-success ' ;  
       return true;     
   }     
   //alert("IP有误！");
   document.getElementById("d1").className='form-group has-error '   
  // document.getElementById("reg_ip").className='form-control fw' 
   return false;      
} 
function f_c2()
{
    var ip2 = document.getElementById('reg_ip2').value;
    var reg=/^\d+$/;
    
    if (ip2 !=""){
    if(reg.test(ip2)!=true){
    // alert(ip2)
     document.getElementById("reg_ip2").value="";
     document.getElementById("d2").className='form-group has-error '
     return false;
    }
    }else{
      document.getElementById("d2").className='form-group has-success ' ;  
      return true;  
    }

    
}
</script> 